body{
    background-color: blue;
}

img{
    border: 3px dotted black;
}


h1{
    font-family: "Arial", Times, serif;
    text-align: center;
}

p{
    font-style: italic;
    color:brown;
}